body {
    min-width: 340px;
    font-size: 15px;
    background-color: transparent;
}

#autoBuildContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
}

#autoBuildContainer label{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

#autoBuildContainer label input, select{
    width:50%;
}

#startAutoBuild, #saveBuildOrder{
    width: 100%;
}

fieldset {
    font-family: sans-serif;
    border: 3px rgb(0, 0, 0);
    background: rgba(130, 130, 130, 0.5);
    border-radius: 1px;
    padding: 15px;
    margin: 10px 10px 15px 10px;
    box-shadow: 2px 2px 2px rgba(25, 25, 25, 0.9);
}

fieldset legend {
    border: 3px rgb(0, 0, 0);
    background: rgba(155, 155, 155, 1);
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 5px;
}

fieldset:hover {
    box-shadow: 5px 5px 5px rgba(25, 25, 25, 0.9);
}

fieldset:hover legend {
    box-shadow: 2px 2px 2px rgba(25, 25, 25, 0.6);
}

.form-style-9 {
    /*max-width: 450px;*/
    background: rgba(0,0,0,0.01);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    padding: 3px;
    /*display: block;*/
    margin: 10px 10px 10px 10px;
    min-height: 35px;
    border-radius: 5px;

}

.form-style-9 .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.form-style-9 .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.form-style-9 .field-split {
    width: 49%;
}

.form-style-9.field-full {
    width: 100%;
}

.form-style-9 input.align-left {

    float: left;
}

.form-style-9 input.align-left-tb {
    width: 69%;
    float: left;
}

.form-style-9 input.align-right {
    float: right;
}

.form-style-9 input.align-right-bt {
    width: 29%;
    float: right;
}

.form-style-9 textarea {
    width: 100%;
    height: 100px;
}

.form-style-9 input[type="button"],
.form-style-9 input[type="submit"],
.select,
.dropbtn{
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.1);
    background-color: ghostwhite;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: dimgrey;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 input[type="button"]:hover,
.form-style-9 input[type="submit"]:hover,
.dropbtn:hover{
    background: rgba(0, 0, 0, 0.04) linear-gradient(to bottom, rgba(155, 155, 155, 1) 1%, rgba(0, 0, 0, 0.09) 1%);
    color: rgba(255,255,255,1) ;

}

#animated_div {
    width: 77px;
    height: 53px;
    background: #92B901;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    margin: 25px;
    padding: 5px;
    animation: animated_div 5s infinite;
    -moz-animation: animated_div 5s infinite;
    -webkit-animation: animated_div 5s infinite;
    -o-animation: animated_div 5s infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

@keyframes animated_div {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(20deg);
        left: 0px;
    }
    50% {
        transform: rotate(0deg);
        left: 210px;
    }
    55% {
        transform: rotate(0deg);
        left: 210px;
    }
    70% {
        transform: rotate(0deg);
        left: 210px;
        background: #1ec7e6;
    }
    100% {
        transform: rotate(-360deg);
        left: 0px;
    }


}

/* Dropdown Button */
/*.dropbtn {*/
    /*background-color: #3498DB;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    /*border: none;*/
    /*cursor: pointer;*/
/*}*/

/*!* Dropdown button on hover & focus *!*/
/*.dropbtn:hover, .dropbtn:focus {*/
    /*background-color: #2980B9;*/
/*}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
